.div1 {
    height: 200px;
    width: 200px;
    background: green;
    position: relative;
    top: 50px;
    left: 100px;
}

.div2 {
    height: 200px;
    width: 200px;
    background: red;
    display: inline-block;
}