/*For my color palette, I went to Color Hunt and selected a theme that I felt went well with the medieval theme.*/
/*Source: https://colorhunt.co/palette/f1efecd4c9be123458030303*/
/*Colors:*/
/*#F1EFEC -- Light Tan*/
/*#D4C9BE -- Darker tan*/
/*#123458 -- Dark blue*/
/*#030303 -- Black*/

.card {
    margin-top: 50px;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 10px 10px 20px #030303;
    background-color: #D4C9BE;
    font-family: "Oldenburg", serif;
    font-style: normal;
    min-width: 350px;
    color: #030303;
}