/*Author: Cody Johnson*/
/*Assignment: Lab 3 - Capstone*/
/*Date: 20250905*/

/*For my color palette, I went to Color Hunt and selected a theme that I felt went well with the medieval theme.*/
/*Source: https://colorhunt.co/palette/181c143c3d37697565ecdfcc*/
/*Colors:*/
/*#181C14*/
/*#3C3D37*/
/*#697565*/
/*#ECDFCC*/

/*Sets the background image for the webpage*/
body {
    background-image:
            url("../assets/osrs_background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0;
}

/*Google fonts class used to implement Google fonts*/
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*Targets the header to create a shadow*/
.navbar {
    background-color: #181C14;
    border-bottom: solid 5px black;
    box-shadow: 5px 5px 10px black;
}

/*Sets the color of the footer*/
.footer-bar, footer {
    background-color: #181C14;
}

/*Div used to control dimensions and appearance of the restaurant logo in the navbar*/
.navbar-logo-container {
    height: 140px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

/*Styling used to fit the navbar restaurant logo to its div and for border*/
#navbar-logo-image {
    height: 100%;
    border: solid 1px #3C3D37
}

/*Setting the dimensions of the picture links for the navbar*/
.picture-link {
    width: 100px;
}

/*On hover effect for the navbar picture links*/
.picture-link:hover {
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
}

#home_page_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 60%;
    margin-top: 300px;
    background-color: #ECDFCC;
    border: solid 8px black;
    color: black;
}

/*Formats the size of the main image container on home page*/
#home_image_container {
    width: 40%;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 150px;
}

/*Places a shadow on the main image on home page*/
#home_image_container img {
    border: 5px solid black;
    box-shadow: 10px 15px 15px black;
    width: 100%;
}

/*Places a shadow on the restaurant features box*/
#hanging-icons {
    background-color: #697565;
    border: 5px solid black;
    box-shadow: 10px 15px 15px black;
}

/*Size and positioning styling for the footer*/
#footer {
    position: static;
    bottom: 0;
    left: 0;
    height: 120px;
    margin-top: 100px;
}

/*Size and positioning for restaurant logo in the footer*/
#footer_restaurant_logo {
    width: 70px;
}

/*Spacing targeting the social media links in the footer to create extra space between the links*/
.footer-link {
    margin-right: 20px;
    font-size: 40px;
}